.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.logo{
  margin: auto 20px;
}

.nav {
  width: 100%;
  min-height: 8vh;

  /* padding :12px 16px; */
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: aqua; */
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0,0%,100%,.8);
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-around;
  
}

.ul {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  align-items: center;
  /* margin-block-start: 0; */
}


.nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(9, 9, 9);


}
.nav a:hover  {
  color: rgb(255, 144, 144);
  transition: 0.2s;

}

.red {
  font-size: 2rem;
  color: red;
}

.hambagar{
  display: none;
}

.current_page a{
  color: rgb(255, 144, 144);
}

/* 
.line1{
  border-bottom: solid 6px black;
}
.line2{
  border-bottom: solid 6px black;
  margin: 12px 0;
}
.line3{
  border-bottom: solid 6px black;
} */


@media (max-width: 780px) {
  .nav a:hover {
  color: black;    
  }

  .nav{
    justify-content: space-between;
  }
  .ul{
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: aquamarine;
    opacity: 0.9;
    /* transition-property:  0.2s; */
    transform: translateX(100%);
    z-index: 300;
  }

  .active {
    transition: all 0.2s;

    transform: translateX(0%) !important;
  }



  .hambagar{
    display: block;
    margin: auto 20px; 
  }

  .hambagar div{
    width: 40px;
    height: 3px;
    background-color: rgb(18, 18, 18);
    margin: 8px;
    transition: 0.5s ease;
  }

  /* .open{
    opacity: 0.2;
  } */
 

  .open .line1 {
    transform: rotate(-45deg) translate(-6px, 10px);
  }  
    .open .line2 {
      opacity: 0;
    }
    
    .open .line3{
    transform: rotate(405deg) translate(-6px, -10px);
  
      
   }


}

