@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html{
    font-size: 62.5%;
 
}

h1,
h2,
h3{
    font-size: 2.5rem;
} 

a,p{
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
}


section{
    padding-top: 50px;
    padding-bottom: 50px;
    /* width: 100%; */
}

/* hero section　*/

.hero{
    position: relative;
    color: white;
    background-image:url("/boardgame.jpg") ;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed ;

}
.hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2)
}


.hero .title{
    transform: translateY(160px);
    position: relative;
    z-index: 1;
}

.hero h1{
    text-shadow: black 1px 3px 6px;
    font-size:6rem;
}
.hero h3{
    /* width:450px; */
    text-align: right;
    font-size:3rem;
    text-shadow: black 1px 3px 6px;
}


/* service section　*/

.service h2{
    font-size:4rem;
}

.service img{
    width: 100%;
    height: 100%;
}

.card-effect{
    box-shadow: rgb(117, 117, 117) 1px 3px 4px;
}


.service h5 {
    font-size: 3rem;
}

.service p {
    font-size: 2rem;
}


/* work section　*/

.work{
    position: relative;
    color: white;
    background-image:url("/table.jpg") ;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed ;

}
.work::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2)
}


.work .title{
    color: rgb(250, 255, 200);
    transform: translateY(100px);

    position: relative;
    z-index: 1;
}

.work h2{
    text-shadow: black 1px 3px 6px;
    font-size:5rem;
}
.work p{
    font-size:2rem;
    text-shadow: black 1px 3px 6px;
}

.info{
    position: absolute;
    top:70%;
    left: 5%;
    font-size: 3rem;
    z-index: 1;
    margin: 2rem;
}



.circle_btn{
    cursor: pointer;
    width: 10rem;
    height:  10rem;
    border-radius: 50%;
    background-color: rgba(51, 120, 106,0.7);
}


.detail{
    width: 60%;
    margin: auto 5%;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    display:none;

}

.detail p{
    line-height: normal;
    display: none;
}


.open{
    display: inline-block !important;
    height: fit-content;

    /* display: inline-block !important; */
}

/* menu section　*/
.menu_box{
    position: relative;
    background-image:url("/doriaSet.jpg");
    background-size:cover ;
    background-position: center;
    border-radius: 3rem;
    min-height: 70vh;
}

.menu h2{
    font-size: 4rem;
}

.menu_box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255,0.1);
    border-radius: 3rem;

}

.box{
    text-align: center;
    position: relative;
    z-index: 1;

}

.box img{
    opacity: 0.2;
    width: 100%;
    transform: translateX(1rem);
    /* height: 100%;  */
}

.box img:hover{
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease;
    }


    /* game section　*/
.game{
    position: relative;
    color: white;
    background-image:url("/bg.jpg") ;
    background-position: center;
    background-size:cover ;
    background-attachment: fixed ;

}
.game::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2)
}

.game_content{
    width: 60%;
    position:relative;
    z-index: 1;
    border: 2px dashed white;
    background-color: rgba(0, 0, 0, 0.21);
    border-radius: 15px;
   
}
.game_card{
    transition: all 0.2s;
    transform: translateY(100px);
    opacity:0;
    background-color: rgba(27, 39, 77, 0.842);
    color: rgb(255, 255, 255);
  

}
.game_content:hover  .game_card{
    transform: translateY(0);
    opacity: 1;
}



.game_text {
    border: solid 1px;
    padding: 1rem;
}

.game_text h2{
    font-size: 2rem;
    margin-top:1rem;
    text-align: center;
    border-bottom: solid 2px;
}

.game_intro{
    padding: 1rem;
    font-size: 1.5rem;
    margin-top:1rem;
}
.game_intro h3,.game_intro p{
color: rgb(0, 0, 0);
}

.game_intro h3::before{
    content: "▼";
}

.game_intro img{
    width: 100%;
    margin-top:1rem;

}


@media (max-width: 780px) {

    .hero{
        
        background-image:url("/boardgame.jpg") ;
        background-position: center;
        background-size:cover ;
        background-attachment: fixed ;
    }

.hero .title{
    transform: translateY(0);
}

.hero h1{
    text-align: center;
    text-shadow: black 1px 3px 6px;
    font-size:4rem;
}
.hero h3{
    text-align: center;

    font-size:2rem;
    text-shadow: black 1px 3px 6px;
}


.work h2{
    text-shadow: black 1px 3px 6px;
    font-size:3rem;
}
.work p{
    font-size:2rem;
    text-shadow: black 1px 3px 6px;
}

.work .title{
    text-align: center !important;
}




.circle_btn{
    width: 7rem;
    height:  7rem;
}


.detail{
    border-radius: 5px;
    padding: 0.5rem;
}

.detail p{
 
  font-size: 1.7rem !important;
}


.box{
    text-align: center;
    position: relative;
    z-index: 1;

}

.box img{
    opacity: 1;
    width: 90%;
    transform: translateX(0);
    /* height: 100%;  */
}

.box img:hover{
    opacity: 1;
    }

    

    .game_card{
        background-color: rgba(27, 39, 77, 0.842);
        color: rgb(255, 255, 255);
        position:static;
    
    
    }



}

